<!DOCTYPE html>
<html>
    <head>
        <title>Museum</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!-- Bootstrap -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">

        <style>
            .well 
            {
                margin-top: 40px;
            }
        </style>
    </head>
    <body>
    <div class="container">    
        <div class="row">
            <div class="well form-horizontal">
                <!--Наименование-->
                <legend>Museum</legend>
                
                <div class="navbar-default">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="/">Новый объект</a></li>
                        <li><a href="/search">Редактировать</a></li>
                    </ul>
                 </div>
                <form method="POST" action="{{ url_for('add_entry') }}" accept-charset="UTF-8" enctype="multipart/form-data">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Параметры</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3 col-xs-3 col-md-3">
                                    <p><h5>Наименование</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <input type="text" class="form-control" id="text_name" placeholder="Наименование" name="name" required>
                                </div>
                            </div>
                            <!--Класс-->
                            <div class="form-group">  
                                <div class="col-sm-3 col-md-3 col-xs-3 ">
                                    <p><h5>Класс</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <label type="radio">
                                        <input type="radio" value="Музейный предмет" name="class"> Музейный предмет
                                    </label><br />
                                    <label type="radio">
                                        <input type="radio" value="Недвижимость" name="class"> Недвижимость
                                    </label><br />
                                    <label type="radio">
                                        <input type="radio" value="Документ" name="class"> Документ
                                    </label><br />
                                    <label type="radio">
                                        <input type="radio" value="Аудио/Видео" name="class"> Аудио/Видео
                                    </label><br />
                                    <label type="radio">
                                        <input type="radio" value="Персоналия" name="class"> Персоналия
                                    </label><br />
                                    <label type="radio">
                                        <input type="radio" value="Статья" name="class"> Статья
                                    </label><br />
                                    <label type="radio">
                                        <input type="radio" value="Изобразительный материал" name="class"> Изобразительный материал
                                    </label><br />
                                </div>
                            </div>
                            <!--Тип-->
                            <div class="form-group">
                                <div class="col-sm-3 col-md-3 col-xs-3 ">
                                    <p><h5>Тип</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <input type="text" class="form-control" id="text_type" placeholder="Тип" name="type">
                                </div>
                            </div>
                            <!--Наименование Музея-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3 col-xs-3 col-md-3">
                                    <p><h5>Наименование Музея</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <input type="text" class="form-control" id="text_name_museum" placeholder="Наименование Музея" name="museum">
                                </div>
                            </div>
                            <!--Файл с изображением-->
                            <div class="form-group">
                                <div id="images_block">
                                    <div class="images_block_inputs">
                                        <div class="col-sm-3 col-xs-3 col-md-3 col-xs-3 col-md-3">
                                            <p><h5>Файл с изображением</h5></p>
                                        </div>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn btn-default btn-file">
                                                <span class="fileinput-new">Select file</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" name="img_1"></input>
                                            </span>
                                            <span class="fileinput-filename"></span>
                                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                        </div><br>
                                    </div>
                                    <div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                                        <button id="add_new_img_input" class="btn btn-success" type="button">Добавить еще изображение</button>  
                                    </div>
                                </div> 
                            </div>
                            <!--Дата-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Дата</h5></p>
                                </div>
                                <div class="col-sm-2 col-xs-2 col-md-2">
                                    <input type="text" class="form-control"  id="millennium" name="millennium" placeholder="Тысячелетие">
                                </div>
                                <div class="col-sm-1 col-xs-1 col-md-1" style="padding: 5px;">
                                    <input type="checkbox" value="true" name="bc"> до н.э. 
                                </div>
                                <div class="col-sm-1 col-xs-1 col-md-1">
                                    <input type="text" class="form-control"  id="century" name="century" placeholder="Век">
                                </div>
                                <div class="col-sm-2 col-xs-2 col-md-2">
                                    <input type="text" class="form-control"  id="year" name="year" placeholder="Год">
                                </div>
                            </div>
                             <!--Временной промежуток C-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Временной промежуток</h5></p>
                                </div>
                                <div class="col-sm-2 col-xs-2 col-md-2"> 
                                    <div class="row">
                                        <div class="col-sm-1 col-xs-1 col-md-1">
                                            <label style="padding: 7px">C</label>
                                        </div>
                                        <div class="col-sm-10 col-xs-10 col-md-10">
                                            <input type="text" class="form-control"  id="millennium2" name="millennium_start" placeholder="Тысячелетие">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1 col-xs-1 col-md-1" style="padding: 5px;">
                                    <input type="checkbox" value="true" name="bc_start"> до н.э. 
                                </div>
                                <div class="col-sm-1 col-xs-1 col-md-1">
                                    <input type="text" class="form-control"  id="century2" name="century_start" placeholder="Век">
                                </div>
                                <div class="col-sm-2 col-xs-2 col-md-2">
                                    <input type="text" class="form-control"  id="year2" name="year_start" placeholder="Год">
                                </div>
                            </div>  
                            <!--Временной промежуток По-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3"></div>
                                <div class="col-sm-2 col-xs-2 col-md-2"> 
                                    <div class="row">
                                        <div class="col-sm-1 col-xs-1 col-md-1">
                                            <label style="padding: 7px">По</label>
                                        </div>
                                        <div class="col-sm-10 col-xs-10 col-md-10">
                                            <input type="text" class="form-control"  id="millennium3" name="millennium_end" placeholder="Тысячелетие">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1 col-xs-1 col-md-1" style="padding: 5px;">
                                    <input type="checkbox" value="true" name="bc_end"> до н.э. 
                                </div>
                                <div class="col-sm-1 col-xs-1 col-md-1">
                                    <input type="text" class="form-control"  id="century3" name="century_end" placeholder="Век">
                                </div>
                                <div class="col-sm-2 col-xs-2 col-md-2">
                                    <input type="text" class="form-control"  id="year3" name="year_end" placeholder="Год">
                                </div>
                            </div>   
                            <!--Рубрика в гипертексте-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Рубрика в гипертексте</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <input type="text" class="form-control" id="text_rub" placeholder="Рубрика" name="rubric">
                                </div>
                            </div>
                            <!--Автор-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Автор</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <input type="text" class="form-control" id="text_author" placeholder="Автор" name="author">
                                </div>
                            </div>
                            <!--Аннотация-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Аннотация</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <textarea class="form-control" rows="6" id="annotation" name="annotation"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Место хранения</h3>
                        </div>
                        <div class="panel-body">
                            <!--Зал-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Зал</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <input type="text" class="form-control" id="text_hall" placeholder="Зал" name="hall">
                                </div>
                            </div>
                            <!--Витрина-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Витрина</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <input type="text" class="form-control" id="text_showcase" placeholder="Витрина" name="showcase">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Расширенные параметры</h3>
                        </div>
                        <div class="panel-body">
                            <!--Инвентарный номер-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Инвентарный номер</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <input type="text" class="form-control" id="text_inventory" placeholder="Инвентарный номер" name="inventory_number" required>
                                </div>
                            </div>
                            <!--Описание-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Описание</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <textarea class="form-control" rows="6" id="text_extra_description" name="description"></textarea>
                                </div>
                            </div>
                            <!--Материал-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Материал</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <input type="text" class="form-control" id="text_material" placeholder="Материал" name="material">
                                </div>
                            </div>
                            <!--Техника-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Техника</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <input type="text" class="form-control" id="text_technol" placeholder="Техника" name="technol">
                                </div>
                            </div>
                            <!--Правообладатель-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Правообладатель</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <input type="text" class="form-control" id="text_rightholder" placeholder="Правообладатель" name="rightholder">
                                </div>
                            </div>
                            <!--Автор описания-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Автор описания</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <input type="text" class="form-control" id="text_author_descr" placeholder="Автор описания" name="author_descr">
                                </div>
                            </div>
                            <!--Рекомендуемая литература-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Рекомендуемая литература</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <textarea class="form-control" rows="6" id="text_literature" name="literature"></textarea>
                                </div>
                            </div>
                            <!--Ссылки-->
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 col-md-3">
                                    <p><h5>Ссылки</h5></p>
                                </div>
                                <div class="col-sm-9 col-xs-9 col-md-9">
                                    <textarea class="form-control" rows="6" id="text_link" name="link"></textarea>
                                </div>
                            </div>
                            <input type="hidden" value="{{ guid }}" name="guid_code">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-lg" name>Submit</button>
                    <div class="row">
                        <div class="control-group col-sm-6 col-xs-6 col-md-6 ">
                            <label class="control-label" for="inputError">Уникальный индификатор GUID</label>
                            <div class="controls">
                                <input type="text" id="" readonly="readonly" value="{{ guid }}">
                            </div>
                        </div>
                        <div class="control-group col-sm-6 col-xs-6 col-md-6 ">
                            <a class="btn pull-right btn" href="qr/{{guid}}" onclick="window.open(this.href,'description','width=200,height=200,resizable=no, scrollbars=yes');return false;"></i>Печать QR-код</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>   
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/script_files.js"></script>
    </body>
</html>