<!DOCTYPE html>
<html>
    <head>
        <title>Museum</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!-- Bootstrap -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">

        <style>
            .well 
            {
                margin-top: 40px;
            }
        </style>
    </head>
    <body>
    <div class="container">    
        <div class="row">
            <div class="well form-horizontal">
                <!--Наименование-->
                <legend>Museum</legend>
                <div class="navbar-default">
                    <ul class="nav nav-tabs">
                        <li><a href="/">Новый объект</a></li>
                        <li class="active"><a href="/">Редактировать</a></li>
                    </ul>
                 </div>
                 {% if show_error %}
                 <div class="alert alert-block alert-info fade in">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4 class="alert-heading">Неудача!</h4>
                    <p>В базе отсутствует объект с таким идификационным номером!!!</p>
                    <p><a class="btn btn-danger" href="{{ url_for('start') }}">Создать новый объект</a></p>
                </div>
                {% endif %}
                <form method="POST" action="{{ url_for('edit_entry') }}" accept-charset="UTF-8" enctype="multipart/form-data">
                        <div class="form-group" style="padding:  10px;">
                            <div class="col-sm-3 col-xs-3 col-md-3">
                                <p><h5>Инвентарный номер</h5></p>
                            </div>
                            <div class="col-sm-9 col-xs-9 col-md-9">
                                <input type="text" class="form-control" id="text_inventory" placeholder="Инвентарный номер" name="inventory_number">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-success btn-lg" name>Search</button>
                </form>
            </div>
        </div>
    </div>   
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/script_files.js"></script>
    </body>
</html>